<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>British Comics of the 60's - 80's</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Hello {{displayName}}</h1>

  <button ion-button outline (click)="signInWithFacebook()">Login</button>
  <button ion-button outline (click)="signOut()">Logout</button>

  <ion-item-group>
    <ion-item-divider color="light">Firebase</ion-item-divider>
    <ion-item class="text" *ngFor="let item of items | async">
      {{item.productName}}
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">XML</ion-item-divider>
    <ion-item *ngFor="let item of xmlItems">
      {{ item.title }}
    </ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider color="light">CSV</ion-item-divider>
    <ion-item *ngFor="let item of csvItems">
      {{ item.title }}
    </ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider color="light">TSV</ion-item-divider>
    <ion-item *ngFor="let item of tsvItems">
      {{ item.title }}
    </ion-item>
  </ion-item-group>
</ion-content>
