<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>British Comics of the 60's - 80's</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item-divider color="light">XML</ion-item-divider>
    <ion-item *ngFor="let item of xmlItems">
      {{ item.title }}
    </ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider color="light">CSV</ion-item-divider>
    <ion-item *ngFor="let item of csvItems">
      {{ item.title }}
    </ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider color="light">TSV</ion-item-divider>
    <ion-item *ngFor="let item of tsvItems">
      {{ item.title }}
    </ion-item>
  </ion-item-group>
</ion-content>
